.section-calender {
    display: flex;
    justify-content: center;
    background-color: white;
    padding-bottom: 32px;
    flex-direction: column;
    text-align: center;
    align-items: center;

    iframe {
        width: 1280px;

        @media (max-width: 1320px) { width: 1000px; }
        @media (max-width: 1000px) { width: 750px; }
        @media (max-width: 750px) { width: 300px; }
    }
}