.section-information {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;

    h1 {
        text-align: center;
        margin-bottom: 32px;
    }
    
    .container-xl {
        display: flex;
        flex-direction: row;

        @media (max-width: 1000px) { flex-direction: column; }
    }

    .information-container {
        display: flex;
        flex-direction: column;
        font-size: small;
        padding: 16px;
        text-align: justify;
        
        .signature-text, .regards-text {
            text-align: center;
        }
    }

    .image-carousel-container {
        display: flex;
        justify-content: center;
        padding: 16px;
        // margin-top: 67px;

        .card {
            @media (min-width: 600px) { width: 500px; }
            max-width: 500px;
            // height: 376px;
            // max-height: 376px;
            img {
                height: 340px;
                object-fit: cover;
            }
        }
        .container {
            padding-top: 8px;
            p {
                font-size: smaller;
                text-align: center;
                margin-bottom: 8px;
            }
        }
    }
}