<div class="section-information">
    <div class="container-xl">
        <div class="row">
            <div class="information-container col">
                <p>{{mainText}}</p>
                <br>
                <p>{{roomText}}</p>
                <p class="regards-text">{{regardsText}}</p>
                <p class="signature-text">{{signatureText}}</p>
            </div>
            <div class="image-carousel-container col">
                <div *ngFor="let item of cardArray">
                    <div class="card">
                        <img src="{{item.path}}" style="width:100%">
                        <div class="container">
                            <p>{{item.figureText}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>