.section-information {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: white;

    .information-container {
        display: flex;
        flex-direction: column;
        font-size: small;

        .signature-text, .regards-text {
            text-align: center;
        }
    }

    .image-carousel-container {
        display: flex;
        justify-content: center;

        .card {
            width: 490px;
            height: 376px;
            max-height: 376px;
            img {
                height: 340px;
                object-fit: cover;
            }
        }
        .container {
            padding-top: 8px;
            p {
                font-size: small;
                text-align: center;
                margin-bottom: 0;
            }
        }
    }
}