<div class="section-information">
    <div class="container-xl">
        <div class="row">
            <div class="information-container col">
                <p>{{mainText}}</p>
                <br>
                <p>{{roomText}}</p>
                <p class="regards-text">{{regardsText}}</p>
                <p class="signature-text">{{signatureText}}</p>
            </div>
            <div class="image-carousel-container col">

                <div class="card">
                    <img src="assets/img/2-2.jpg" style="width:100%">
                    <div class="container">
                        <p>Soveværelset</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>