<div class="section-information">
    <h1 id="Ålykkevej45" class="indexable">{{headerText}}</h1>
    <div class="container-xl">
        <div class="col information-container">
            <p>{{mainText}}</p>
            <br>
            <p>{{roomText}}</p>
            <p class="regards-text">{{regardsText}}</p>
            <p class="signature-text">{{signatureText}}</p>
        </div>
        <div class="col image-carousel-container">
            <mdb-carousel>
                <mdb-carousel-item *ngFor="let item of cardArray; let i = index" class="card
                " [ngClass]="{'active': i == 0}">
                    <img src="{{item.path}}" style="width:100%">
                    <div class="container">
                        <p>{{item.figureText}}</p>
                    </div>
                </mdb-carousel-item>
            </mdb-carousel>
        </div>
    </div>
</div>