.component-scroll {
    @media (max-width: 1800px) { 
        word-break: break-word;
        left: 90%;
     }

    @media (max-width: 1350px) { 
        display: none;
    }
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 10%;
    left: 85%;
    border-left: 2px solid black;
    padding: 0 8px;
    
    p {
        margin-bottom: 8px;
    }

    a {
        margin-bottom: 16px;
        text-decoration: none;
        color: grey
    }

    a:hover {
        color: rgb(107, 104, 199)
    }
}