.section-attractions {
    .container-xl {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 32px;
        padding-bottom: 64px;

        @media (min-width: 650px) { 
            
            .mobile {
                display: none !important;
            }
         }

         @media (max-width: 649px) { 
            .full {
                display: none !important;
            }
         }

        .title {
            padding: 32px 0;
            text-align: center;
        }

        .indicator-container {
            display: flex;
            flex-direction: row;
            margin: auto;

            .indicator {
                margin: 5px;
                height: 3px;
                width: 30px;
                background-color: black;
                opacity: 0.3;
                cursor: pointer;
            }

            .active {
                .indicator {
                    opacity: 0.6;
                }
            }
        }
        

        .cards-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
           

            .card {
                margin: 16px 16px;
                max-width: 280px;
                min-width: 280px;
                padding: unset;

                .card-title {
                    font-size: large;
                    text-align: center;
                    padding: 16px 0;
                    margin-bottom: 0;
                    font-weight: bold;
                }
                
                .body-text {
                    font-size: small;
                    text-align: justify;
                }
                
                .button-container {
                    display: flex;
                    justify-content: center;
                }

                img {
                    height: 240px;
                    object-fit: cover;
                }

                button {
                    position: relative;
                    text-decoration: underline;
                }
            }
        }
    }
    

    
}