<div class="section-attractions">
    <div class="container-xl">
        <h2 class="title indexable" id="Sehenswürdigkeiten">{{titleText}}</h2>
        <div class="cards-container row full">
            <div *ngFor="let item of cardArray" class="card col">
                <img src="{{item.imagePath}}" style="width:100%">
                <div class="container">
                    <h3 class="card-title">{{item.title}}</h3>
                    <p class="body-text">{{item.description}}</p>
                    <div class="button-container">
                        <a href="{{item.link}}">
                            <button class="btn btn-default">
                                Weiterlesen
                                <fa-icon [icon]="faChevronRight"></fa-icon>
                            </button>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="cards-container col mobile" id="cards-container">
            <div *ngFor="let item of cardArray; let i = index" id="{{i}}" class="attraction-card card col"
                [ngClass]="{'hidden': i != 0}">
                <img src="{{item.imagePath}}" style="width:100%">
                <div class="container">
                    <h3 class="card-title">{{item.title}}</h3>
                    <p class="body-text">{{item.description}}</p>
                    <div class="button-container">
                        <a href="{{item.link}}">
                            <button class="btn btn-default">
                                Weiterlesen
                                <fa-icon [icon]="faChevronRight"></fa-icon>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="indicator-container mobile">
            <div *ngFor="let item of cardArray; let i = index" class="attraction-indicator col" id="{{i}}"
                [ngClass]="{'active': i == 0}">
                <a class="indicator-link" (click)="changeSlide(i)">
                    <div class="indicator">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>