@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Variables
$font-family: Roboto, "Helvetica Neue", sans-serif;
$background-color: #f8f8f8;
$yellow-color: #ffffff; // CHANGE.

body {
    background-color: $background-color;   
    font-family: $font-family;

    h1 {
        font-size: 40px;
    }

    
    // Validation
    .invalid {
        border: 1px solid red;
    }
}
