<div class="section-booking">
    <div class="container-xl">
        <h2 class="title">Buchen</h2>
        <div class="main-container">
            <div class="booking-form-container col-6">

                <label for="name-input">Vollständiger Name</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="" aria-label="Fullname"
                        aria-describedby="name-input">
                </div>

                <label for="email-input">E-mail</label>
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="Example@gmail.com" aria-label="Email"
                        aria-describedby="email-input">
                </div>

                <label for="phone-input">Telefonnummer</label>
                <div class="input-group input-number">
                    <input type="text" class="form-control" placeholder="" aria-label="Phonenumber"
                        aria-describedby="phone-input">
                </div>

                <label for="persons-input">Personen</label>
                <div class="input-group input-persons">
                    <input type="number" class="form-control" aria-label="Personen" aria-describedby="persons-input">
                </div>

            </div>
            <div class="booking-information-container col-6">
                <h3>skrrt</h3>
            </div>
        </div>

    </div>
</div>