<!-- [class.invalid]="nameInputForm.invalid && (nameInputForm.dirty || nameInputForm.touched) && (nameInputForm.errors?.['required'] || nameInputForm.errors?.['minlength'])" -->

<div class="section-booking">
    <div class="container-xl">
        <div class="main-container">
            <div class="loading-form-container col hidden">
                <div class="loader"></div>
            </div>
            <div class="finished-form-container col hidden">
                <div class="finished-box">
                    <p>
                        Eingereicht
                    </p>

                </div>
            </div>
            <div class="booking-form-container col">

                <h2 class="indexable" id="Buchung">Buchung</h2>
                <div class="error-form-container hidden">
                    <div class="error-box">
                        <p>
                            Etwas ist schief gelaufen
                        </p>
                    </div>
                </div>
                <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
                    <label for="nameInputControl">Vollständiger Name</label>
                    <div class="input-group">
                        <input formControlName="nameInputControl" type="text" class="form-control"
                            [class.invalid]="isSubmitted && (bookingForm.get('nameInputControl')?.hasError('required') || bookingForm.get('nameInputControl')?.hasError('minlength'))">

                        <div *ngIf="bookingForm.get('nameInputControl')?.errors && isSubmitted" class="alert">
                            <div *ngIf="bookingForm.get('nameInputControl')?.hasError('required')">
                                Vollständiger Name ist erforderlich
                            </div>
                            <div *ngIf="bookingForm.get('nameInputControl')?.hasError('minlength')">
                                Name muss 4 Zeichen lang sein
                            </div>
                        </div>
                    </div>


                    <label for="emailInputControl">E-mail</label>
                    <div class="input-group">
                        <input formControlName="emailInputControl" type="email" class="form-control"
                            [class.invalid]="isSubmitted && bookingForm.get('emailInputControl')?.hasError('required')">

                        <div *ngIf="bookingForm.get('emailInputControl')?.errors && isSubmitted" class="alert">
                            <div *ngIf="bookingForm.get('emailInputControl')?.hasError('required')">
                                E-mail erforderlich
                            </div>
                            <div *ngIf="bookingForm.get('emailInputControl')?.hasError('email')">
                                E-mail ungültig
                            </div>
                        </div>
                    </div>

                    <label for="phoneInputForm">Telefonnummer</label>
                    <div class="input-group input-number">
                        <input formControlName="phoneInputControl" type="tel" class="form-control"
                            [class.invalid]="isSubmitted && (bookingForm.get('phoneInputControl')?.hasError('required') || bookingForm.get('phoneInputControl')?.hasError('pattern'))">

                        <div *ngIf="bookingForm.get('phoneInputControl')?.errors && isSubmitted" class="alert">
                            <div *ngIf="bookingForm.get('phoneInputControl')?.hasError('required')">
                                Telefonnummer erforderlich
                            </div>
                            <div *ngIf="bookingForm.get('phoneInputControl')?.hasError('pattern')">
                                Nur Zahlen erlaubt
                            </div>
                        </div>

                    </div>

                    <label for="personInputForm">Personen</label>
                    <div class="input-group input-persons">
                        <input formControlName="personInputControl" type="number" class="form-control"
                            [class.invalid]="isSubmitted && (bookingForm.get('personInputControl')?.hasError('required') || bookingForm.get('personInputControl')?.hasError('pattern'))">

                        <div *ngIf="bookingForm.get('personInputControl')?.errors && isSubmitted" class="alert">
                            <div *ngIf="bookingForm.get('personInputControl')?.hasError('required')">
                                Anzahl der benötigten Personen
                            </div>
                            <div *ngIf="bookingForm.get('personInputControl')?.hasError('pattern')">
                                Falsche Personenanzahl
                            </div>
                        </div>
                    </div>

                    <div class="input-group input-datepicker">
                        <mat-form-field appearance="fill">
                            <mat-label>Besuchstage auswählen</mat-label>
                            <mat-date-range-input [rangePicker]="picker">
                                <input matStartDate formControlName="start" placeholder="Startdatum">
                                <input matEndDate formControlName="end" placeholder="Enddatum">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>


                        </mat-form-field>
                    </div>


                    <label for="commentInputForm">Anmerkungen oder Fragen an den Vermieter</label>
                    <div class="input-group">
                        <textarea formControlName="commentInputControl" class="form-control" [(ngModel)]="commentinput"
                            maxlength="256"></textarea>

                        <p class="maxlength-information">{{commentinput.length}}/256</p>
                    </div>


                    <button type="submit" class="btn btn-dark">Einreichen</button>
                </form>
            </div>
            <div class="booking-information-container col">
                <h4>Preise</h4>
                <p>Übernachtung für 2 Personen Montag bis Donnerstag <b>{{weekText}}</b> Euro pro Nacht*</p>
                <p>Übernachtung für 2 Personen Freitag bis Sonntag <b>{{weekendText}}</b> Euro pro Nacht*</p>
                <p>Bei Buchung einer Woche (Sonnabend bis Sonnabend) beträgt der Preis <b>{{weekText}}</b> Euro pro
                    Nacht* für 2 Personen.</p>
                <p class="extra-info-price"><i>*(Bettwäsche und Handtücher sind im Preis inbegriffen)</i></p>

                <h4>Zusatzinformation</h4>
                <p><b>Endreinigung:</b> 30 Euro, kann aber selbst vorgenommen werden, Gerät und Mittel sind vorhanden.
                </p>
                <p><b>Kaution:</b> Bei gemeinsamer Begehung bei An- und Abreise unnötig, sonst 200 Euro bei Anreise.</p>
                <p><b>Haustiere:</b> sind nur nach vorheriger Absprache mit dem Vermieter erlaubt.</p>
                <p><b>Parkplatz</b>: (kostenlos) ist auf dem Grundstück vorhanden</p>
            </div>
        </div>

    </div>
</div>