.section-booking {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    .container-xl {

        .title {
            font-weight: bold;
            margin-bottom: 32px;
            text-align: center;
        }

        .main-container {
            display: flex;
            flex-direction: row;
            @media (max-width: 1000px) { flex-direction: column-reverse; }

            form {
                width: 100%;
            }

            .booking-form-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 0 16px;

                h2 {
                    margin-bottom: 32px;
                }

                .input-group {
                    margin-bottom: 26px;

                    @media (max-width: 1200px) { max-width: 400px; }
                    max-width: 500px;
                }

                .alert {
                    position: absolute;
                    padding: 8px 0;
                    margin-bottom: 0;
                    top: 35px;
                    font-size: small;
                    font-style: italic;
                    color: red;
                }
                
                textarea {
                    max-width: 400px;
                }
                .maxlength-information {
                    @media (max-width: 500px) { display: none; }

                    position: absolute;
                    padding: 8px 0;
                    margin-bottom: 0;
                    top: -28px;
                     left: 363px;
                    font-size: small;
                    font-style: italic;
                }

                .input-persons {
                    width: 75px;
                }

                .input-number {
                    width: 300px;
                }
                
                .input-datepicker {
                    margin-bottom: 0;
                }
            }
    
            .booking-information-container {
                margin: 0 16px;

                .extra-info-price {
                    font-size: smaller;
                }
            }
        }
        
    }
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: black !important;
   }
   
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: black !important;
   } 
   
   ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: black !important;;
   }
   
   ::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: black !important;
   }

   ::ng-deep .mat-form-field-flex  {
       border: 1px solid #ced4da;
   }

   mat-datepicker-toggle {
    color: black !important;
   }