.section-booking {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    .container-xl {

        .title {
            font-weight: bold;
            margin-bottom: 32px;
            text-align: center;
        }

        .main-container {
            display: flex;
            flex-direction: row;
            @media (max-width: 1000px) { flex-direction: column-reverse; }

            form {
                width: 100%;
            }

            .finished-form-container {
                .finished-box {
                    border-style: groove;
                    border-color: lightgreen;
                    background-color: #d1f9d1;
                    height: 65px;
                    width: 80%;
                    margin: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    p {
                        margin: 0;
                        color: darkgreen;
                        font-weight: 500;
                        font-size: large;
                    }
                }
            }

            .loader {
                margin: auto;
                border: 16px solid #f3f3f3;
                border-radius: 50%;
                border-top: 16px solid #000000;
                width: 60px !important;
                height: 60px !important;
                -webkit-animation: spin 2s linear infinite; /* Safari */
                animation: spin 2s linear infinite;
              }
              
              /* Safari */
              @-webkit-keyframes spin {
                0% { -webkit-transform: rotate(0deg); }
                100% { -webkit-transform: rotate(360deg); }
              }
              
              @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
              }

            .booking-form-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 0 16px;

                h2 {
                    margin-bottom: 32px;
                }

                .input-group {
                    margin-bottom: 26px;

                    @media (max-width: 1200px) { max-width: 400px; }
                    max-width: 500px;
                }

                .alert {
                    position: absolute;
                    padding: 8px 0;
                    margin-bottom: 0;
                    top: 35px;
                    font-size: small;
                    font-style: italic;
                    color: red;
                }
                
                textarea {
                    max-width: 400px;
                }
                .maxlength-information {
                    @media (max-width: 500px) { display: none; }

                    position: absolute;
                    padding: 8px 0;
                    margin-bottom: 0;
                    top: -28px;
                     left: 363px;
                    font-size: small;
                    font-style: italic;
                }

                .input-persons {
                    width: 75px;
                }

                .input-number {
                    width: 300px;
                }
                
                .input-datepicker {
                    margin-bottom: 0;
                }

                .error-form-container {
                    width: 100%;

                    .error-box {
                        border-style: groove;
                        border-color: #ff6d6d;
                        background-color: #ffbaba;
                        height: 50px;
                        width: 80%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 30px;
    
                        p {
                            margin: 0;
                            color: rgb(145, 0, 0);
                            font-weight: 500;
                            font-size: large;
                        }
                    }
                }
            }
    
            .booking-information-container {
                margin: 0 16px;

                .extra-info-price {
                    font-size: smaller;
                }
            }
        }
        
    }
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: black !important;
   }
   
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: black !important;
   } 
   
   ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: black !important;;
   }
   
   ::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: black !important;
   }

   ::ng-deep .mat-form-field-flex  {
       border: 1px solid #ced4da;
   }

   mat-datepicker-toggle {
    color: black !important;
   }